<link rel="stylesheet" type="text/css" href='/stylesheets/about.css'>
<div class="tab">
    <button class="tablinks"> <a href="/"> Home </a> </button>
    <button class="tablinks"> <a href="/about"> About </a> </button>
    <button class="tablinks"> <a href="/contact"> Contact </a></button>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue ac ipsum eget euismod. Vestibulum elementum semper sapien, a sagittis libero lobortis non. Ut odio nisi, scelerisque sit amet ex non, facilisis laoreet ipsum. Proin mollis magna neque, vitae dignissim purus lobortis eget. Suspendisse eleifend purus nunc, nec cursus nisl mattis sit amet. Praesent consectetur sapien at justo euismod lobortis. Vestibulum maximus odio nisi, eu rutrum ipsum scelerisque venenatis. Nam convallis nulla ipsum, eget fermentum orci pharetra vel. Aliquam sed tellus a ex luctus pharetra.

    Fusce ex nisi, molestie quis diam non, luctus pellentesque metus. Nam suscipit augue libero, quis suscipit felis laoreet nec. Sed ornare euismod odio, placerat tincidunt lorem auctor vel. Phasellus vel arcu at nunc dictum tincidunt. Phasellus pellentesque congue purus, eu vulputate sem tincidunt venenatis. Duis egestas mi nec condimentum ullamcorper. Praesent at dui id sapien pharetra pellentesque. Duis tortor lorem, varius quis massa non, iaculis accumsan nibh. Fusce id tincidunt leo. Donec in diam at massa ultricies euismod sit amet at purus. Cras ullamcorper lacinia eros. Nunc convallis euismod nisi, nec elementum sem. Nunc ac est erat. Integer cursus lacus nec sollicitudin bibendum. Nullam vel sem dolor.

    Proin ullamcorper accumsan turpis, ut posuere nulla fermentum sit amet. Suspendisse nec porttitor quam, ac vestibulum arcu. Quisque et viverra sem. Praesent eu ipsum ac turpis dictum venenatis vel id arcu. Pellentesque pellentesque euismod iaculis. Integer ullamcorper augue dui, id elementum tellus porttitor a. Phasellus ut ligula elit. Suspendisse pulvinar, purus eget mollis hendrerit, tellus est porta urna, a tempus lectus sapien vel ante. Fusce hendrerit purus justo. Morbi et commodo libero. Sed aliquam sem in iaculis ullamcorper. Morbi pellentesque diam nec ullamcorper accumsan. Nullam id enim ante. Curabitur venenatis volutpat risus, id pretium magna venenatis cursus. Duis accumsan neque dui, vel fermentum sem tempus fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

</p>