<link rel="stylesheet" type="text/css" href='/stylesheets/account.css'>
<div class="tab">
    <button class="tablinks"> <a href="/"> Home </a> </button>
    <button class="tablinks"> About </button>
    <button class="tablinks"> <a href="/contact"> Contact </a></button>
</div>
<h2> Hi you - feel free to sign up or in </h2>
<div class="signupcontainer">
    <form action="/account/submit" method="post" class="form">

        <label>Username</label>
        <input type="text" placeholder="Enter Username" name="username"required>

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="userpw"required>

        <button type="submit"> Login </button>
        <div>
            <label class="rmb">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <div class="psw">Forgot <a href="#">password?</a></div>
        </div>

    </form>
</div>
<div class="registercontainer">
    <button type="button" class="registerbtn">  <a href="/register"> Not registered yet? </a> </button>
</div>