<link rel="stylesheet" type="text/css" href='/stylesheets/communityuser.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>

    <h2>Placeholder for Users Name</h2>


        <ul>
            {{#each test}}
                <li>{{description}} <br>  at {{startTime}} {{startDate}}</li>
            {{/each}}
        </ul>

</div>