<link rel="stylesheet" type="text/css" href='/stylesheets/community.css'>
<div class="tab">
    <button class="tablinks"> <a href="/account"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>
</div>
<form action="/logout" method="post">
    <button class="tablinks"> Logout </a> </button>
</form>
{{communitylist}}