<link rel="stylesheet" type="text/css" href='/stylesheets/community.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>
</div>

<ul>
    {{#each test2}}
        <li><a href="/communityuser/{{id}}">{{userName}}</a> in {{city}}</li>
    {{/each}}
</ul>




<form action="/logout" method="post">
    <button class="logoutbttn"> Logout </button>
</form>