<link rel="stylesheet" type="text/css" href='/stylesheets/community.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/statistics"> Statistics  </a> </button>
</div>
<h1> Look at our members</h1>
<!--<input type="text" name="myInput" onkeyup="myFunction()" placeholder="Search for names..">-->
<ul name="memberlist">
    {{#each test2}}
        <li><a href="/communityuser/{{id}}">{{userName}}</a> in {{city}}</li>
    {{/each}}
</ul>




