<div class="tab">
    <button class="tablinks"> <a href="/account"> Account </a> </button>
    <button class="tablinks"> <a href="/about"> About </a> </button>
    <button class="tablinks"> <a href="/contact"> Contact </a> </button>
</div>

<h1>{{title}} {{displaytest}}</h1>
<p>Welcome to {{title}}</p>
<p> {{text}}</p>

