<link rel="stylesheet" type="text/css" href='/stylesheets/about.css'>
<div class="tab">
    <button class="tablinks"> <a href="/"> Home </a> </button>
    <button class="tablinks"> <a href="/about"> About </a> </button>
    <button class="tablinks"> <a href="/contact"> Contact </a></button>
</div>
<h1>Nice try </h1>
<h2> but doesn't work!</h2>