<link rel="stylesheet" type="text/css" href='/stylesheets/register.css'>
<div class="tab">
    <button class="tablinks"> <a href="/"> Home </a> </button>
    <button class="tablinks"> About </button>
    <button class="tablinks"> <a href="/contact"> Contact </a> </button>
</div>
<h1>Join us!</h1>
<div class="container">
    <form action="/register/submit" method="post">
        <label for="regname">Username</label>
        <input type="text" name="regname" placeholder="Your Username..">

        <label for="regpw">Password</label>
        <input type="text" name="regpw" placeholder="Your Password..">

        <label for="city">City</label>
        <input type="text" name="city" placeholder="Your City..">

        <label for="birthday">Birthday</label>
        <input type="date" name="birthday"> </input>

        <input type="submit" value="Register">
    </form>
</div>

