<link rel="stylesheet" type="text/css" href='/stylesheets/register.css'>
<div class="tab">
    <button class="tablinks"> <a href="/"> Home </a> </button>
    <button class="tablinks"> <a href="/about"> About </a> </button>
    <button class="tablinks"> <a href="/contact"> Contact </a> </button>
</div>
<h2>Register now and join our community</h2>
<div class="container">
    <form action="/register/submit" method="post">
        <label for="regname">Username</label>
        <input type="text" name="regname" required placeholder="Your Username..">

        <label for="regpw">Password</label>
        <input type="password" name="regpw" required placeholder="Your Password..">

        <label for="city">City</label>
        <input type="text" name="city" required placeholder="Your City..">

        <label for="birthday">Birthday</label>
        <input type="date" name="birthday" required> </input>

        <input type="submit" value="Register">
    </form>
</div>

