<link rel="stylesheet" type="text/css" href='/stylesheets/statistics.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>

</div>
<form action="/logout" method="post">
    <button class="tablinks"> Logout </a> </button>
</form>
<div class="training">
    <h2>Your training progress</h2>
</div>

<div class="weight">
    <h2>Your weight progress</h2>
</div>