h1{
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    background-color: white;
    border-radius: 25px;
}
h2{
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    background-color: white;
    border-radius: 25px;
}

h3{
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: lighter;

}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    font-family: "Helvetica Neue";
    border-radius: 25px;
    color: black;
}

input[type=submit] {
    background-color: rgba(76, 175, 80, 0.52);
    color: black;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    width: 50%;
    font-family: "Helvetica Neue";
    border-radius: 25px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 20px;
    top: 50%;
    left: 50%;

    width: 400px;
    position: absolute;
    height: 350px;
    margin: -60px 0 0 -200px;

    text-align:center;
}