h1{
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 400;
}
h2{
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
    background-color: white;
    border-radius: 10px;
}

label, p{
    font-family: "Helvetica";
    font-size: 15px;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date], input[type=time], input[type=number]{
     width: 50%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 25px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
 }
input[type=number]{
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(76, 175, 80, 0.52);
    color: black;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    width: 50%;
    font-family: "Helvetica Neue";
    border-radius: 25px;
}

input[type=submit]:hover {
    background-color: #45a049;
    opacity: 0.8;
}



.trainingscontainer {
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

.weightcontainer{
    float: right;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

.logoutbttn{
    position:relative;
    left: 30%;
    margin-top: 50%;
    padding: 20px 40px;
    background-color: rgba(175, 25, 28, 0.52);
    color: black;
    border: none;
    font-family: "Helvetica Neue";
    border-radius: 30px;

}

.logoutbttn:hover {
    background-color: #AF191C;
}